{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 class="text-center">Student Checkout & Return</h1>
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        <div>
            {{ wtf.form_field(form.book_select) }}
            {{ wtf.form_field(form.student_select) }}
            <div class="d-flex justify-content-center">
                {{ wtf.form_field(form.checkout_field, class='btn btn-primary') }}
                {{ wtf.form_field(form.return_field, class='btn btn-primary') }}
            </div>
        </div>
    </form>
{% endblock %}