{% extends "base.html" %}

{% block content %}
    <h1>Student Checkout & Return</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.book_select.label }}<br>
            {{ form.book_select(size=3) }}
            {% for error in form.book_select.errors %} 
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.student_select.label }}<br>
            {{ form.student_select(size=3) }}
            {% for error in form.student_select.errors %} 
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.checkout_field }}
            {{ form.return_field }}
        </p>
    </form>
    
    {% if books %}
    <ul>
        {% for book in books %}
        <li>{{ book.title }}, Number: {{ book.number_books }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}